#header
{
  height:49%;
  width:100%;
  border:1px solid rgb(31,44,76);
  background-color:rgb(31,44,76);
  color:white;
  font-size:25;
  text-align:center;
  border-radius:5px;
}
#nav
{
	height:10%;
	width:100%;
    border:1px solid rgb(94,92,103);
	background-color:rgb(94,92,103);
	color:white;
	border-radius:5px;
}
#content
{
    height:33%;
    width:100%;
   border-radius:5px;
}
#footer
{
	height:6%;
	width:100%;
	border:1px solid black;
	text-align:center;
	background-color:rgb(31,44,76);
	border-radius:5px;
	color:white;
}
h1
{
	margin-top:10px;
}
#nav a
{
	display:inline-block;
	padding-left:470px;
	margin-top:6px;
	text-decoration:none;
	color:white;
	float:left;
	font-size:30;
}
.active
{
	background-color:black;
	border-radius:5px;
}
form
{
    text-align:center;
	
}
form a
{
  color:black;
  text-decoration:underline;

}		
  